Week_05/homework03/src/main/resources/META-INF/namespace/mybean.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://mybeanconfiguration/oneConfiguration"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://mybeanconfiguration/oneConfiguration"
            elementFormDefault="qualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"/>

    <xsd:element name="rule">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
            <xsd:attribute name="phone" type="xsd:string" use="required"/>
            <xsd:attribute name="girlFriends" type="list" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="list">
        <xsd:list itemType="xsd:string"/>
    </xsd:simpleType>
</xsd:schema>